/cache/
/data/*/minutes/
/data/*/tick/
/data/binance
/data/tmp/
/data/rakuten/daily
/data/kabutan/news
/data/edinet/schedule13/
/data/tdnet/raw/
/data/tdnet/download/
/cert/
__pycache__/
*.pyc
*.ipynb_ckpt
*.csv.gz
*.cache
*.zip
doc_list.csv
poetry.lock
/logs/
uv.lock
/dist/
/build/
*.egg-info/
.venv/
/selenium_profile/