/cache/
/data/*/minutes/
/data/*/tick/
/data/binance
/data/tmp/
/data/*/klines/
/data/rakuten/daily
/data/kabutan/news
/data/tdnet/raw/
/data/tdnet/download/
/cert/
__pycache__/
*.pyc
*.ipynb_ckpt
*.csv.gz
*.cache
poetry.lock
/logs/