name: Run Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Set up chrome
      run: |
        sudo wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo apt update
        sudo apt-get install google-chrome-stable
    
    - name: Install dependencies
      run: |
        pip install -e .
        pip install pytest
    
    - name: Run linting with ruff
      run: |
        ruff check src/data_fetcher/
      continue-on-error: false
    
    - name: Run tests with pytest
      run: |
        pytest tests/ -v
      continue-on-error: false
